<div id="GravurenSeiteDiv1Einführung">
    <!--Bild 1 -->
    <div class="GravurenBeispielDivsClasses" id="GravurenBeispielEinsDiv">
        <img id="Bild1Beispiel" class="GravurenBilderBeispiele" src="{{section.settings.Bild1default}}" alt="">
        <h2 class="BeispielBilderTitelBeschreibungenclass">{{section.settings.Bild1TextTitel}}</h2>
    </div>
    <!--Bild 2 -->
    <div class="GravurenBeispielDivsClasses" id="GravurenBeispielZweiDiv">
        <img id="Bild2Beispiel" class="GravurenBilderBeispiele" src="{{section.settings.Bild2default}}" alt="">
        <h2 class="BeispielBilderTitelBeschreibungenclass">{{section.settings.Bild2TextTitel}}</h2>
    </div>

    <h1 id="TitelGravurenBeispiel">Wir gravieren Ihr Unikat</h1>
    <p id="TextGravurenBeispielTitel">Wir gravieren Ihre Motive, Bilder und Logos – egal, ob Werbe-, Geburtstags- oder Weihnachtsgeschenk.</p>

    <!--Bild 3 -->
    <div class="GravurenBeispielDivsClasses" id="GravurenBeispielDreiDiv">
        <img id="Bild3Beispiel" class="GravurenBilderBeispiele" src="{{section.settings.Bild3default}}" alt="">
        <h2 class="BeispielBilderTitelBeschreibungenclass">{{section.settings.Bild3TextTitel}}</h2>
    </div>

    <!--Bild 4 -->
    <div class="GravurenBeispielDivsClasses" id="GravurenBeispielVierDiv">
        <img id="Bild4Beispiel" class="GravurenBilderBeispiele" src="{{section.settings.Bild4default}}" alt="">
        <h2 class="BeispielBilderTitelBeschreibungenclass">{{section.settings.Bild4TextTitel}}</h2>
    </div>

    <!--Bild 5 -->
    <div class="GravurenBeispielDivsClasses" id="GravurenBeispielFünfDiv">
        <img id="Bild5Beispiel" class="GravurenBilderBeispiele" src="{{section.settings.Bild5default}}" alt="">
    </div>

    <!--Bild 6 -->
    <div class="GravurenBeispielDivsClasses" id="GravurenBeispielSechsDiv">
        <img id="Bild6Beispiel" class="GravurenBilderBeispiele" src="{{section.settings.Bild6default}}" alt="">
    </div>

    <!--Bild 7 -->
    <div class="GravurenBeispielDivsClasses" id="GravurenBeispielSiebenDiv">
        <img id="Bild7Beispiel" class="GravurenBilderBeispiele" src="{{section.settings.Bild7default}}" alt="">
    </div>

</div>






{% schema %}
    {
        "name": "Gravuren Anwendungen",
        "settings": [
            {
                "type": "text",
                "label": "Bild 1 Default",
                "id": "Bild1default"
            },
            {
                "type": "text",
                "label": "Bild 1 Text Titel",
                "id": "Bild1TextTitel"
            },
            {
                "type": "text",
                "label": "Bild 1 Wechselbildfirst",
                "id": "Bild1Wechselbildfirst"
            },
            {
                "type": "text",
                "label": "Bild 1 Wechselbildsecond",
                "id": "Bild1Wechselbildsecond"
            },
            {
                "type": "text",
                "label": "Bild 2 Default",
                "id": "Bild2default"
            },
            {
                "type": "text",
                "label": "Bild 2 Text Titel",
                "id": "Bild2TextTitel"
            },
            {
                "type": "text",
                "label": "Bild 2 Wechselbildfirst",
                "id": "Bild2Wechselbildfirst"
            },
            {
                "type": "text",
                "label": "Bild 2 Wechselbildsecond",
                "id": "Bild2Wechselbildsecond"
            },
            {
                "type": "text",
                "label": "Bild 3 Default",
                "id": "Bild3default"
            },
            {
                "type": "text",
                "label": "Bild 3 Text Titel",
                "id": "Bild3TextTitel"
            },
            {
                "type": "text",
                "label": "Bild 3 Wechselbildfirst",
                "id": "Bild3Wechselbildfirst"
            },
            {
                "type": "text",
                "label": "Bild 3 Wechselbildsecond",
                "id": "Bild3Wechselbildsecond"
            },
            {
                "type": "text",
                "label": "Bild 4 Default",
                "id": "Bild4default"
            },
            {
                "type": "text",
                "label": "Bild 4 Text Titel",
                "id": "Bild4TextTitel"
            },
            {
                "type": "text",
                "label": "Bild 4 Wechselbildfirst",
                "id": "Bild4Wechselbildfirst"
            },
            {
                "type": "text",
                "label": "Bild 4 Wechselbildsecond",
                "id": "Bild4Wechselbildsecond"
            },
            {
                "type": "text",
                "label": "Bild 5 Default",
                "id": "Bild5default"
            },
            {
                "type": "text",
                "label": "Bild 6 Default",
                "id": "Bild6default"
            },
            {
                "type": "text",
                "label": "Bild 7 Default",
                "id": "Bild7default"
            }
        
        ],
        "presets": [
            {
                "name": "Gravuren Anwendungen"
            }
        ]
    }
{% endschema %}



<!--

<script>

document.addEventListener("DOMContentLoaded", function() {
            const bilderSets = [
                {
                    elementId: "Bild1Beispiel", // Bild 1
                    bilder: [
                        "{{section.settings.Bild1Wechselbildfirst}}",
                        "{{section.settings.Bild1Wechselbildsecond}}"
                    ],
                    interval: 8000
                },
                {
                    elementId: "Bild2Beispiel", // Bild 2
                    bilder: [
                        "{{section.settings.Bild2Wechselbildfirst}}",
                        "{{section.settings.Bild2Wechselbildsecond}}"
                    ],
                    interval: 12000
                },
                {
                    elementId: "Bild3Beispiel",  // Bild 3
                    bilder: [
                        "{{section.settings.Bild3Wechselbildfirst}}",
                        "{{section.settings.Bild3Wechselbildsecond}}"
                    ],
                    interval: 22000
                },
                {
                    elementId: "Bild4Beispiel",  // Bild 4
                    bilder: [
                        "{{section.settings.Bild4Wechselbildfirst}}",
                        "{{section.settings.Bild4Wechselbildsecond}}"
                    ],
                    interval: 18000
                }
            ];

            bilderSets.forEach(set => {
                const element = document.getElementById(set.elementId);
                let aktuellesBildIndex = 0;

                function wechsleBild() {
                    element.style.opacity = 0;

                    setTimeout(function() {
                        aktuellesBildIndex = (aktuellesBildIndex + 1) % set.bilder.length;
                        element.src = set.bilder[aktuellesBildIndex];
                        element.style.opacity = 1;
                    }, 1000);
                }

                setInterval(wechsleBild, set.interval);
            });
        });
    </script>


-->





<style>

    /*Variblen*/
    :root{
        --GravurSeitenDivBackgrundColor: black;
    }

    #GravurenSeiteDiv1Einführung{
        max-width: 1400px;
        height: 89vh;
        margin-left: auto;
        margin-right: auto;

        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;

       background-image: linear-gradient(to right, rgb(251, 253, 253), rgb(259, 253, 254));

        position: relative;
        margin-bottom: 2rem;
        margin-top: 2rem;
    }

    #TitelGravurenBeispiel{
        font-size: 4.7rem;
        font-weight: bold;
        text-shadow: 1px 1px 1px rgb(222, 222, 222);
        color: rgb(0, 0, 0);
        margin: 0;
    }
    #TextGravurenBeispielTitel{
        font-size: 1.62rem;
        color: black;
        margin: 0;
    }



    .GravurenBeispielDivsClasses{
        position: absolute;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        gap: 0.3rem;

        box-shadow: 3px 3px 10px black;
    }

    .GravurenBilderBeispiele{
        width: 30rem;
    }
    .BeispielBilderTitelBeschreibungenclass{
        font-size: 2.3rem;
        color: rgb(255, 255, 255);
        background-color: rgb(0, 0, 0);
        padding: 0.5rem 1.8rem;
        border-bottom-left-radius: 18px;
        border-bottom: solid 1px white;
        border-left: solid 1px white;
        
        position: absolute;
        top: 0rem;
        right: 0rem;
        margin: 0;

    }


    /*GravurenBeispielEinsDiv*/
    #GravurenBeispielEinsDiv{
        top: 1.5rem;
        left: 0rem;
        box-shadow: 5px 5px 10px black;
    }
    #Bild1Beispiel{
        width: 39.5rem;
        transition: opacity 0.5s ease-in-out;
        opacity: 1;
    }


    /*GravurenBeispielZweiDiv*/
    #GravurenBeispielZweiDiv{
        top: 3rem;
        right: 2rem;
        
        box-shadow: 6px 6px 10px black;
    }
    #Bild2Beispiel{
        width: 36rem;
        transition: opacity 0.5s ease-in-out;
        opacity: 1;
    }




    /*GravurenBeispielDreiDiv*/
    #GravurenBeispielDreiDiv{
        bottom: 4rem;
        left: 1.5rem;
        box-shadow: 6px 6px 10px black;
    }
    #Bild3Beispiel{
        width: 37rem;
        transition: opacity 0.5s ease-in-out;
        opacity: 1;
    }




    /*GravurenBeispielVierDiv*/
    #GravurenBeispielVierDiv{
        bottom: 6.5rem;
        right: 3.5rem;
        box-shadow: 6px 6px 10px black;
    }
    #Bild4Beispiel{
        width: 32rem;
        transition: opacity 0.5s ease-in-out;
        opacity: 1;
    }




    /*GravurenBeispielFünfDiv*/
    #GravurenBeispielFünfDiv{
        top: 8rem;
        right: 50.5%;
        transform: translate(54%);
    }
    #Bild5Beispiel{
        width: 25rem;
    }



    /*GravurenBeispielSechsDiv*/
    #GravurenBeispielSechsDiv{
        bottom: 11rem;
        right: 54.5%;
        transform: translate(50%);
    }
    #Bild6Beispiel{
        width: 19rem;
    }

    /*GravurenBeispielSiebenDiv*/
    #GravurenBeispielSiebenDiv{
        bottom: 19rem;
        right: 39%;
        transform: translate(50%);
    }
    #Bild7Beispiel{
        width: 10rem;
    }



    /*GravurenBeispielAchtDiv*/
    #GravurenBeispielAchtDiv{
        top: 35.5rem;
        left: 16rem;

        transform: translate(50%);
    }
    #Bild8Beispiel{
        width: 11.5rem;
    }



    /*Latop Anischt*/
    @media(max-width:1600px){


    #GravurenSeiteDiv1Einführung{
        max-width: 93%;
        height: 92vh;
        margin-left: auto;
        margin-right: auto;

        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;

       background-image: linear-gradient(to right, rgb(251, 253, 253), rgb(259, 253, 254));

        position: relative;
        margin-bottom: 2rem;
        margin-top: 2rem;
    }

    #TitelGravurenBeispiel{
        font-size: 3.9rem;
        font-weight: bold;
        text-shadow: 1px 1px 1px rgb(222, 222, 222);
        color: rgb(0, 0, 0);
        margin: 0;
    }
    #TextGravurenBeispielTitel{
        font-size: 1.48rem;
        color: black;
        margin: 0;
    }



    .GravurenBeispielDivsClasses{
        position: absolute;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        gap: 0.3rem;

        box-shadow: 3px 3px 10px black;
    }

    .GravurenBilderBeispiele{
        width: 30rem;
    }
    .BeispielBilderTitelBeschreibungenclass{
        font-size: 2.3rem;
        color: rgb(255, 255, 255);
        background-color: rgb(0, 0, 0);
        padding: 0.5rem 1.8rem;
        border-bottom-left-radius: 18px;
        border-bottom: solid 1px white;
        border-left: solid 1px white;
        
        position: absolute;
        top: 0rem;
        right: 0rem;
        margin: 0;

    }


    /*GravurenBeispielEinsDiv*/
    #GravurenBeispielEinsDiv{
        top: 1.4rem;
        left: 4.5rem;
        box-shadow: 5px 5px 10px black;
    }
    #Bild1Beispiel{
        width: 34.5rem;
        transition: opacity 0.5s ease-in-out;
        opacity: 1;
    }


    /*GravurenBeispielZweiDiv*/
    #GravurenBeispielZweiDiv{
        top: 2.5rem;
        right: 4.5rem;
        
        box-shadow: 6px 6px 10px black;
    }
    #Bild2Beispiel{
        width: 32rem;
        transition: opacity 0.5s ease-in-out;
        opacity: 1;
    }




    /*GravurenBeispielDreiDiv*/
    #GravurenBeispielDreiDiv{
        bottom: 2rem;
        left: 5.5rem;
        box-shadow: 6px 6px 10px black;
    }
    #Bild3Beispiel{
        width: 31rem;
        transition: opacity 0.5s ease-in-out;
        opacity: 1;
    }




    /*GravurenBeispielVierDiv*/
    #GravurenBeispielVierDiv{
        bottom: 3.8rem;
        right: 6.5rem;
        box-shadow: 6px 6px 10px black;
    }
    #Bild4Beispiel{
        width: 29rem;
        transition: opacity 0.5s ease-in-out;
        opacity: 1;
    }




    /*GravurenBeispielFünfDiv*/
    #GravurenBeispielFünfDiv{
        top: 6rem;
        right: 50.5%;
        transform: translate(54%);
    }
    #Bild5Beispiel{
        width: 21rem;
    }



    /*GravurenBeispielSechsDiv*/
    #GravurenBeispielSechsDiv{
        bottom: 7rem;
        right: 56.5%;
        transform: translate(50%);
    }
    #Bild6Beispiel{
        width: 17rem;
    }

    /*GravurenBeispielSiebenDiv*/
    #GravurenBeispielSiebenDiv{
        bottom: 12.5rem;
        right: 40%;
        transform: translate(50%);
    }
    #Bild7Beispiel{
        width: 10rem;
    }


    }


    /*Tablet Ansicht*/
    @media (min-width: 500px) and (max-width: 1300px){
        #GravurenSeiteDiv1Einführung{
        max-width: 100%;
        height: 85vh;
        margin-left: auto;
        margin-right: auto;

        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;

       background-image: linear-gradient(to right, rgb(251, 253, 253), rgb(259, 253, 254));

        position: relative;
        margin-bottom: 2rem;
        margin-top: 2rem;
    }

    #TitelGravurenBeispiel{
        font-size: 3.9rem;
        text-align: center;
        font-weight: bold;
        text-shadow: 1px 1px 1px rgb(222, 222, 222);
        color: rgb(0, 0, 0);
        margin: 0;
        padding-bottom: 0.4rem;
    }
    #TextGravurenBeispielTitel{
        font-size: 1.48rem;
        text-align: center;
        color: black;
        margin: 0;
        max-width: 90%;
    }



    .GravurenBeispielDivsClasses{
        position: absolute;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        gap: 0.3rem;

        box-shadow: 3px 3px 10px black;
    }

    .GravurenBilderBeispiele{
        width: 30rem;
    }
    .BeispielBilderTitelBeschreibungenclass{
        font-size: 2.3rem;
        color: rgb(255, 255, 255);
        background-color: rgb(0, 0, 0);
        padding: 0.5rem 1.8rem;
        border-bottom-left-radius: 18px;
        border-bottom: solid 1px white;
        border-left: solid 1px white;
        
        position: absolute;
        top: 0rem;
        right: 0rem;
        margin: 0;

    }


    /*GravurenBeispielEinsDiv*/
    #GravurenBeispielEinsDiv{
        top: -1%;
        left: 4.5rem;
        box-shadow: 5px 5px 10px black;
    }
    #Bild1Beispiel{
        width: 28.5rem;
        transition: opacity 0.5s ease-in-out;
        opacity: 1;
    }


    /*GravurenBeispielZweiDiv*/
    #GravurenBeispielZweiDiv{
        top: 10%;
        right: 1.5rem;
        
        box-shadow: 6px 6px 10px black;
    }
    #Bild2Beispiel{
        width: 30rem;
        transition: opacity 0.5s ease-in-out;
        opacity: 1;
    }




    /*GravurenBeispielDreiDiv*/
    #GravurenBeispielDreiDiv{
        bottom: -2%;
        left: 2.5rem;
        box-shadow: 6px 6px 10px black;
    }
    #Bild3Beispiel{
        width: 29rem;
        transition: opacity 0.5s ease-in-out;
        opacity: 1;
    }




    /*GravurenBeispielVierDiv*/
    #GravurenBeispielVierDiv{
        bottom: 1%;
        right: 2.5rem;
        box-shadow: 6px 6px 10px black;
    }
    #Bild4Beispiel{
        width: 29rem;
        transition: opacity 0.5s ease-in-out;
        opacity: 1;
    }




    /*GravurenBeispielFünfDiv*/
    #GravurenBeispielFünfDiv{
        top: 28%;
        right: 68.5%;
        transform: translate(54%);
    }
    #Bild5Beispiel{
        width: 12.5rem;
    }



    /*GravurenBeispielSechsDiv*/
    #GravurenBeispielSechsDiv{
        bottom: 27%;
        right: 75.5%;
        transform: translate(50%);
    }
    #Bild6Beispiel{
        width: 14rem;
    }

    /*GravurenBeispielSiebenDiv*/
    #GravurenBeispielSiebenDiv{
        bottom: 30%;
        right: 30%;
        transform: translate(50%);
    }
    #Bild7Beispiel{
        width: 9rem;
    }

    }






    /*Phone Anischt*/
    @media(max-width:500px){


    #GravurenSeiteDiv1Einführung{
        max-width: 90%;
        height: auto;
        margin-left: auto;
        margin-right: auto;

        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;

       background-image: linear-gradient(to right, rgb(251, 253, 253), rgb(259, 253, 254));

        position: relative;
        margin-bottom: 2rem;
        margin-top: 2rem;

    }

    #TitelGravurenBeispiel{
        font-size: 2.7rem;
        text-align: center;
        font-weight: bold;
        text-shadow: 1px 1px 1px rgb(222, 222, 222);
        color: rgb(0, 0, 0);
        margin: 0;
        padding-bottom: 0rem;
        margin-top: 2.4rem;
    }
    #TextGravurenBeispielTitel{
        font-size: 1.41rem;
        text-align: center;
        color: black;
        margin: 0;
        max-width: 90%;
        margin-bottom: 2.4rem;
    }



    .GravurenBeispielDivsClasses{
        position: static;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        gap: 0.3rem;

        margin: 1.3rem 0rem;

        box-shadow: 3px 3px 10px black;
    }

    .GravurenBilderBeispiele{
        width: 40rem;
    }
    .BeispielBilderTitelBeschreibungenclass{
        display: none;
        font-size: 1.7rem;
        color: rgb(255, 255, 255);
        background-color: rgb(0, 0, 0);
        padding: 0.5rem 1.8rem;
        border-bottom-left-radius: 18px;
        border-bottom: solid 1px white;
        border-left: solid 1px white;
        
        position: absolute;
        top: 1.2%;
        right: 6.2%;
        margin: 0;

    }


    /*GravurenBeispielEinsDiv*/
    #GravurenBeispielEinsDiv{
        top: -1%;
        left: 10.5rem;
        box-shadow: 5px 5px 10px black;
    }
    #Bild1Beispiel{
        width: 25.5rem;
        transition: opacity 0.5s ease-in-out;
        opacity: 1;
    }


    /*GravurenBeispielZweiDiv*/
    #GravurenBeispielZweiDiv{
        top: 20%;
        right: 1.5rem;
        
        box-shadow: 6px 6px 10px black;
    }
    #Bild2Beispiel{
        width: 25rem;
        transition: opacity 0.5s ease-in-out;
        opacity: 1;
    }




    /*GravurenBeispielDreiDiv*/
    #GravurenBeispielDreiDiv{
        bottom: -2%;
        left: 1.5rem;
        box-shadow: 6px 6px 10px black;
    }
    #Bild3Beispiel{
        width: 25rem;
        transition: opacity 0.5s ease-in-out;
        opacity: 1;
    }




    /*GravurenBeispielVierDiv*/
    #GravurenBeispielVierDiv{
        bottom: 1%;
        right: 2.5rem;
        box-shadow: 6px 6px 10px black;
    }
    #Bild4Beispiel{
        width: 25rem;
        transition: opacity 0.5s ease-in-out;
        opacity: 1;
    }




    /*GravurenBeispielFünfDiv*/
    #GravurenBeispielFünfDiv{
        display: none;
        top: 28%;
        right: 18.5%;
        transform: translate(0%);
    }
    #Bild5Beispiel{
        width: 12.5rem;
    }



    /*GravurenBeispielSechsDiv*/
    #GravurenBeispielSechsDiv{
        display: none;
        bottom: 27%;
        right: 75.5%;
        transform: translate(50%);
    }
    #Bild6Beispiel{
        width: 14rem;
    }

    /*GravurenBeispielSiebenDiv*/
    #GravurenBeispielSiebenDiv{
        display: none;
        bottom: 30%;
        right: 30%;
        transform: translate(50%);
    }
    #Bild7Beispiel{
        width: 9rem;
    }

    }







</style>