<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />

 <div id="Slider">
    <!--Left Sapn IMG-->
    <img id="spanleft" src="{{ section.settings.SpanUrlLinkleft }}" alt="">
    <!-- Slides Block-->
     {% for block in section.blocks %}
        <div class="slides">
          {% if block.settings.slider_img %}
            <picture class="slidesIMG">
                <!-- Bild, das bei einer Breite von mindestens 550px geladen wird -->
                <source  media="(min-width: 500px)" srcset="{{ block.settings.slider_img | image_url }}">
                <!-- Bild, das bei einer Breite unter 550px geladen wird -->
                <img class="slidesIMG_phone" src="{{ block.settings.slider_img_phone | image_url }}"   style="width: 100%;" alt="Bildbeschreibung">
            </picture>
          {% endif %}  
          <div class="slidetextdiv">
            <h3 >{{ block.settings.slider_titel }}</h3>
            <p class="Desktopansichttexte">
                {{ block.settings.slider_text }}
            </p>
            <p class="Handyansichttexte">{{ block.settings.slider_text_phone }}</p>
            <a class="linkslides" href="{{ block.settings.slider_url_link }}">{{ block.settings.slider_btn_text }}</a>
          </div>
        </div>
      {% endfor %}
      <!--Right Sapn IMG-->
    <img  id="rightspan" src="{{section.settings.SpanUrlLinkRight}}" alt="">
  </div>


<!--Schema-->
{% schema %}
{
    "name": "SelbstgemachterSlider",
    "settings": [
        {
            "type": "text",
            "id": "SpanUrlLinkleft",
            "label": "SpanUrlLinkleft"
        },
        {
            "type": "text",
            "id": "SpanUrlLinkRight",
            "label": "SpanUrlLinkRight"
        }
    ],
    "blocks": [
      {
        "name": "sliderblock",
        "type": "slider_blocks",
        "settings": [
          {
            "type": "image_picker",
            "id": "slider_img",
            "label": "Slider Bild Desktop"
          },
          {
            "type": "image_picker",
            "id": "slider_img_phone",
            "label": "Slider Bild Phone View"
          },
          {
            "type": "text",
            "id": "slider_titel",
            "label": "Slider Titel"
          },
          {
            "type": "text",
            "id": "slider_text",
            "label": "Slider Text"
          },
          {
            "type": "text",
            "id": "slider_text_phone",
            "label": "Slider Text Phone"
          },
          {
            "type": "url",
            "id": "slider_url_link",
            "label": "slider Link URL"
          },
          {
            "type": "text",
            "id": "slider_btn_text",
            "label": "Slider Button Text"
          }
        ]
      }
    ],
    "presets": [
        {
            "name": "SelbstgemachterSlider"
        }
    ]
}
{% endschema %}



<!--Neues Script mit TouchE Events -->
<script>
const slidesContainer = document.getElementById('Slider');
const slides = slidesContainer.querySelectorAll('.slides');
let slideIndex = 0;
let startX = 0;
let startY = 0;

function showSlides() {
  slides.forEach(slide => {
    slide.classList.remove('active');
  });

  if (slideIndex >= slides.length) {
    slideIndex = 0;
  } else if (slideIndex < 0) {
    slideIndex = slides.length - 1;
  }

  slides[slideIndex].classList.add('active');
}

function plusSlides(i) {
  slideIndex += i;
  showSlides();
}

document.getElementById('spanleft').addEventListener('click', () => {
  plusSlides(-1);
});

document.getElementById('rightspan').addEventListener('click', () => {
  plusSlides(1);
});

slidesContainer.addEventListener('touchstart', (e) => {
  startX = e.touches[0].clientX;
  startY = e.touches[0].clientY;
});

slidesContainer.addEventListener('touchmove', (e) => {
  const currentX = e.touches[0].clientX;
  const currentY = e.touches[0].clientY;
  const diffX = startX - currentX;
  const diffY = startY - currentY;

  // Prevent vertical scrolling if horizontal swipe
  if (Math.abs(diffX) > Math.abs(diffY)) {
    e.preventDefault();
  }

});

slidesContainer.addEventListener('touchend', (e) => {
  const diffX = startX - e.changedTouches[0].clientX;

  if (diffX > 30) {
    plusSlides(1); // Swipe nach links
  } else if (diffX < -30) {
    plusSlides(-1); // Swipe nach rechts
  }
});

showSlides();

setInterval(() => {
  plusSlides(1);
}, 7000);

</script>




<style>
    /* Slider */
#Slider {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  height: 47rem;
  width: 100%;
  overflow: hidden;
  margin-bottom: 1rem;
  margin-left: auto;
  margin-right: auto;
}

/* rightspan and leftspan */
#rightspan,
#spanleft {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 50%;
  width: 5.7rem;
  color: white;
  cursor: pointer;
  z-index: 2;
  padding: 0.5rem;
  border-radius: 50%;
  transform: translateY(-50%);
  transition: background-color 0.3s, transform 0.3s;
}

#rightspan:hover,
#spanleft:hover {
  background-color: rgba(0, 0, 0, 0.954);
}

#rightspan {
  right: 1rem;
}

#spanleft {
  left: 1rem;
}
.slides {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: opacity 0.5s ease-in-out; /* Übergangseffekt für Opazität */
}

.slides.active {
  opacity: 1;
}

.slidesIMG {
  width: 100%;
}

.slidetextdiv {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 0rem;
  color: white;
  padding: 0.2rem 4rem;
  transition: transform 0.5s ease-in-out;
  transform: translateY(100%);
  z-index: 2;

  border-radius: 10px;
}

.slides.active .slidetextdiv {
  transform: translateY(0);
}
.slidetextdiv h3 {
  font-size: 4.5rem;
  font-weight: bold;
  bottom: 9rem;
  color: white;
  text-shadow: 2px 2px 1px black;
  margin-bottom: 2rem;
}

.Desktopansichttexte {
    display: none;
  font-size: 1.68rem;
  color: rgb(255, 255, 255);
  font-weight: bold;
  
  width: 40rem;
  padding: 2rem;
  border-radius: 10px;
}
.Handyansichttexte{
    display: none;
    font-size: 1.45rem;
    color: black;
    font-weight: 300;
}

.linkslides {
  display: inline-block;
  background-color: var(--maincolor);
  color: white;
  text-decoration: none;
  padding: 0.5rem 1rem;
  border-radius: 5px;
  font-size: 2.1rem;
  cursor: pointer;
  transition: background-color 0.3s;
}

.linkslides:hover {
  background-color: #333;
}


/*Laptop ansicht */
@media (max-width: 1600px) {
    /* Slider */
  #Slider {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  height: 40rem;
  width: 100%;
  overflow: hidden;
  margin-bottom: 1rem;
  margin-left: auto;
  margin-right: auto;
}

/* rightspan and leftspan */
#rightspan,
#spanleft {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 50%;
  font-size: 3.9rem;
  color: white;
  cursor: pointer;
  z-index: 2;
  padding: 0.5rem;
  border-radius: 50%;
  transform: translateY(-50%);
  transition: background-color 0.3s, transform 0.3s;
}

#rightspan:hover,
#spanleft:hover {
  background-color: rgba(0, 0, 0, 0.954);
}

#rightspan {
  right: 0.75rem;
}

#spanleft {
  left: 0.75rem;
}
.slides {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: opacity 0.5s ease-in-out; /* Übergangseffekt für Opazität */
}

.slides.active {
  opacity: 1;
}

.slidesIMG {
  width: 100%;
}

.slidetextdiv {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 0rem;
  color: white;
  padding: 0.2rem 4rem;
  transition: transform 0.5s ease-in-out;
  transform: translateY(100%);
  z-index: 2;

  border-radius: 10px;
}

.slides.active .slidetextdiv {
  transform: translateY(0);
}
.slidetextdiv h3 {
  font-size: 3.8rem;
  font-weight: bold;
  bottom: 9rem;
  color: white;
  text-shadow: 2px 2px 1px black;
  margin-bottom: 2rem;
}

.Desktopansichttexte {
    display: none;
  font-size: 1.58rem;
  color: rgb(255, 255, 255);
  font-weight: bold;
  
  width: 40rem;
  padding: 2rem;
  border-radius: 10px;
}
.Handyansichttexte{
    display: none;
    font-size: 1.45rem;
    color: black;
    font-weight: 300;
}

.linkslides {
  display: inline-block;
  background-color: var(--maincolor);
  color: white;
  text-decoration: none;
  padding: 0.5rem 1rem;
  border-radius: 5px;
  font-size: 1.85rem;
  cursor: pointer;
  transition: background-color 0.3s;
}

.linkslides:hover {
  background-color: #333;
}

}





/*I pad Anischt*/
@media(min-width: 500px) and (max-width:950px){
  /* Slider */
#Slider {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  height: 26.5rem;
  width: 100%;
  overflow: hidden;
  margin-bottom: 0rem;
  margin-left: auto;
  margin-right: auto;
}

/* rightspan and leftspan */
#rightspan,
#spanleft {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 50%;
  font-size: 3.9rem;
  color: white;
  cursor: pointer;
  z-index: 2;
  padding: 0.5rem;
  border-radius: 50%;
  transform: translateY(-50%);
  transition: background-color 0.3s, transform 0.3s;
}

#rightspan:hover,
#spanleft:hover {
  background-color: rgba(0, 0, 0, 0);
}

#rightspan {
  right: 0.7rem;
}

#spanleft {
  left: 0.7rem;
}
.slides {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: opacity 0.5s ease-in-out; /* Übergangseffekt für Opazität */
}

.slides.active {
  opacity: 1;
}

.slidesIMG {
  width: 100%;
}


.slidetextdiv {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 0rem;
  color: white;
  padding: 0.2rem 4rem;
  transition: transform 0.5s ease-in-out;
  transform: translateY(100%);
  z-index: 2;

  border-radius: 10px;
}

.slides.active .slidetextdiv {
  transform: translateY(0);
}
.slidetextdiv h3 {
  font-size: 3rem;
  font-weight: bold;
  bottom: 9rem;
  color: white;
  text-shadow: 2px 2px 1px black;
  margin-bottom: 2rem;
}

.Desktopansichttexte {
    display: none;
  font-size: 1.58rem;
  color: rgb(255, 255, 255);
  font-weight: bold;
  
  width: 40rem;
  padding: 2rem;
  border-radius: 10px;
}
.Handyansichttexte{
    display: none;
    font-size: 1.4rem;
    color: black;
    font-weight: 300;
}

.linkslides {
  display: inline-block;
  background-color: var(--maincolor);
  color: white;
  text-decoration: none;
  padding: 0.3rem 1.1rem;
  border-radius: 5px;
  font-size: 1.8rem;
  cursor: pointer;
  transition: background-color 0.3s;
}

.linkslides:hover {
  background-color: #333;
}
}


/*---------------------Handy ansicht--------------------------*/

@media (max-width: 500px) {
 /* Slider */
#Slider {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  height: 37.3rem;
  width: 100%;
  overflow: hidden;
  margin-bottom: 1rem;
  margin-left: auto;
  margin-right: auto;
}

/* rightspan and leftspan */
#rightspan,
#spanleft {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 50%;
  font-size: 2.5rem;
  color: white;
  cursor: pointer;
  z-index: 2;
  padding: 0.5rem;
  border-radius: 50%;
  transform: translateY(-50%);
  transition: background-color 0.3s, transform 0.3s;
}

#rightspan:hover,
#spanleft:hover {
  background-color: rgba(0, 0, 0, 0);
}

#rightspan {
  right: 0rem;
}

#spanleft {
  left: 0rem;
}
.slides {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: opacity 0.5s ease-in-out; /* Übergangseffekt für Opazität */
}

.slides.active {
  opacity: 1;
}

.slidesIMG {
  width: 100%;
}

.slidetextdiv {
  position: absolute;
  left: 0%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 0rem;
  bottom: 5%;
  color: white;
  padding: 0.2rem 1rem;
  transition: transform 0.5s ease-in-out;
  transform: translateY(100%);
  z-index: 2;
  width: 100%;

  border-radius: 10px;
}

.slides.active .slidetextdiv {
  transform: translateY(0);
}
.slidetextdiv h3 {
  font-size: 2.2rem;
  font-weight: bold;
  bottom: 9rem;
  color: white;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.532);
  margin-bottom: 0.5rem;
}


.Desktopansichttexte {
    display: none;
  font-size: 1.28rem;
  color: rgb(255, 255, 255);
  font-weight: bold;
  background-color: var(--maincolor);
  width: 10rem;
  padding: 2rem;
  border-radius: 10px;
}
.Handyansichttexte{
    display:flex;
    font-size: 1.45rem;
    color: rgb(255, 255, 255);
    font-weight: 300;
    background-color: var(--maincolor);
}

.linkslides {
  display: inline-block;
  background-color: var(--maincolor);
  color: white;
  text-decoration: none;
  padding: 0.4rem 0.8rem;
  border-radius: 5px;
  font-size: 1.5rem;
  cursor: pointer;
  transition: background-color 0.3s;
}

.linkslides:hover {
  background-color: #333;
}
}

</style>