<!--HTML-->
<div id="new_info_banner">

    {% for block in section.blocks %}

        <!--Titel-->
        {% if block.type == "infobanner_titel" %}
            <h2>{{ block.settings.infobanner_title_text }}</h2>
        {% endif %}

        <!--Text-->
        {% if block.type == "infobanner_text" %}
            <p>{{ block.settings.infobanner_paragraph_text }}</p>
        {% endif %}


        <!--Rabatt Code-->
        {% if block.type == "infobanner_rabattcode" %}
            <p>{{ block.settings.rabattcode_paragraph }}</p>
        {% endif %}




    {% endfor %}

</div>



<!--Schema-->
{% schema %}
    {
        "name": "new_info_banner",
        "settings": [
            {
                "type": "range",
                "id": "new_info_banner_width",
                "label": "Info Banner Width",
                "max": 100,
                "min": 50,
                "step": 2,
                "default": 65
            },
            {
                "type": "range",
                "id": "new_info_banner_padding_top_bottom",
                "label": "Info Banner Padding Top Bottom",
                "max": 10,
                "min": 0,
                "step": 1,
                "default": 2
            },
            {
                "type": "color",
                "id": "new_info_banner_backgroundcolor",
                "label": "Info Banner Backgroundcolor"
            }
        ],
        "blocks": [
            {
                "name": "Info Banner Title",
                "type": "infobanner_titel",
                "settings": [
                    {
                        "type": "text",
                        "id": "infobanner_title_text",
                        "label": "Info Banner Title"
                    }
                ]
            },
            {
                "name": "Info Banner Text",
                "type": "infobanner_text",
                "settings": [
                    {
                        "type": "text",
                        "id": "infobanner_paragraph_text",
                        "label": "Info Banner Text"
                    }
                ]
            },
            {
                "name": "Info Banner Rabattcode",
                "type": "infobanner_rabattcode",
                "settings": [
                    {
                        "type": "text",
                        "id": "rabattcode_paragraph",
                        "label": "Info Banner Rabattcode"
                    }
                ]
            }
        ],
        "presets": [
            {
                "name": "new_info_banner",
                "blocks": [
                    { "type": "infobanner_titel" },
                    { "type": "infobanner_text" },
                    { "type": "infobanner_rabattcode" }
                ]
            }
        ]
    }
    {% endschema %}
    
    



<!--CSS-->
<style>
    #new_info_banner{
        display: flex;
        align-items: center;
        justify-content: center;

        padding-left: 2rem;
        padding-right: 2rem;

        padding-top: {{ section.settings.new_info_banner_padding_top_bottom }}rem;
        padding-bottom: {{ section.settings.new_info_banner_padding_top_bottom }}rem;

        background-color: {{ section.settings.new_info_banner_backgroundcolor }};
        
        width: {{ section.settings.new_info_banner_width }}%;

        margin-left: auto;
        margin-right: auto;
    }



</style>